{# templates/incident/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouveau Signalement{% endblock %}

{% block body %}
    <h1>Signaler un nouvel incident</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Soumettre</button>
    {{ form_end(form) }}
{% endblock %}
